<%- include("partials/header"); -%>

<h1>Welcome to my blog!!</h1>
<p> <%= startingContent %> </p>


<%  posts.forEach(function(post){ %>
<form action="/delete" method="post">
  <h1><%=post.title%></h1>
  <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    <button type="submit" name="deleteButton" value="<%= post._id %>" class="deleteButton">delete</button>
  </p>
</form>



<% }) %>


<%- include("partials/footer"); -%>
